body{
    margin: 0;
    padding: 0;
    
}

#pop-up{
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}


.content{
    width: 35rem;
    background: #fff;
    height: 90vh;
    position: relative;
    
}

.content > i svg{
    position: absolute;
    left: 98.5%;
    top: -1.5%;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    
}